:root {
    --nav-color: #fff;
}


@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
.container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }


.ht-100 {
    height: 100% !important;
}

.wd-100 {
    width: 100% !important;
}

.encompasser {
    scroll-snap-points-x: inherit;
}

header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    min-height: 100vh;

    background-color: #2d3854;
    background-image: url("patterns/pattern2.png");
    background: url("patterns/pattern2.png"),linear-gradient(#607D8B,#003b56);
}

header nav.my-nav1 {
    background: #fff;
    min-height: 48px;

    margin-bottom: 5px;
    box-shadow: 2px 2px 3px #99afcd;

}

header .nav48 {
    min-height: 48px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 48px;
}

header nav .tabs { display: none }
@media (min-width: 768px) { header nav .tabs { display: flex; } }

header nav .tabs {
    display: flex;
    flex-direction: row;
}

header nav .tabs>a {
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    border-bottom: none;
}

header nav .tabs>a.active {
    border-bottom: 1px solid #eee;
}

header nav .tabs>a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff; /* #005fb2; */
    color: #fff;
}

.site-name a, .site-name a:hover {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
}

section {
    padding: 80px 0;
}

.gradient-1, section:nth-of-type(1) {
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-2, section:nth-of-type(2) {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }

.flex-space-between {
    justify-content: space-between;
}

.fixed { position: fixed; }
